etc/shipping_settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="carriers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="carrier" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="packageOptions" type="shippingOptionList" minOccurs="0"/>
                            <xs:element name="itemOptions" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence maxOccurs="unbounded">
                                        <xs:element name="itemShippingOptions">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="shippingOptions" type="shippingOptionList"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:int" name="itemId" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="serviceOptions" type="shippingOptionList" minOccurs="0"/>
                            <xs:element name="metadata" minOccurs="0" type="metadata"/>
                            <xs:element name="compatibilityData" minOccurs="0" type="compatibilityData"/>
                        </xs:all>
                        <xs:attribute type="xs:string" name="code" use="required"/>
                    </xs:complexType>
                    <xs:unique name="uniqueItemId">
                        <xs:selector xpath="*/itemShippingOptions"/>
                        <xs:field xpath="@itemId"/>
                    </xs:unique>
                    <xs:unique name="uniqueOptionCode">
                        <xs:selector xpath="*/shippingOption"/>
                        <xs:field xpath="@code"/>
                    </xs:unique>
                    <xs:unique name="uniqueRuleId">
                        <xs:selector xpath="*/rule"/>
                        <xs:field xpath="@id"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueCarrierCode">
            <xs:selector xpath="carrier"/>
            <xs:field xpath="@code"/>
        </xs:unique>
    </xs:element>

    <xs:complexType name="metadata">
        <xs:all>
            <xs:element name="title" minOccurs="0" type="string_translatable"/>
            <xs:element name="imageUrl" type="xs:string" minOccurs="0"/>
            <xs:element name="commentsBefore" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="comment" type="commentConfig"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="commentsAfter" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="comment" type="commentConfig"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="footnotes" minOccurs="0">
                <xs:complexType>
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element name="footnote">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="content" type="string_translatable" minOccurs="0"/>
                                    <xs:element name="subjects" type="subjectsList" minOccurs="0"/>
                                    <xs:element name="subjectsMustBeSelected" type="xs:boolean" minOccurs="0"/>
                                    <xs:element name="subjectsMustBeAvailable" type="xs:boolean" minOccurs="0"/>
                                </xs:all>
                                <xs:attribute type="xs:string" name="id" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="compatibilityData">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="rule">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="subjects" type="subjectsList"/>
                        <xs:element name="masters" type="mastersList" minOccurs="0"/>
                        <xs:element name="action">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="show|hide|enable|disable|require|unrequire"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="triggerValue">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value=".*|true|\*"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="errorMessage" type="string_translatable" minOccurs="0"/>
                    </xs:all>
                    <xs:attribute type="xs:string" name="id" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="shippingOptionList">
        <xs:sequence maxOccurs="unbounded" minOccurs="0">
            <xs:element name="shippingOption">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="label" type="string_translatable" minOccurs="0"/>
                        <xs:element name="inputs" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence maxOccurs="unbounded">
                                    <xs:element name="input">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element name="label" type="string_translatable" minOccurs="0"/>
                                                <xs:element name="labelVisible" type="xs:boolean" minOccurs="0"/>
                                                <xs:element name="inputType" minOccurs="0">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="hidden"/>
                                                            <xs:enumeration value="text"/>
                                                            <xs:enumeration value="number"/>
                                                            <xs:enumeration value="prefixed"/>
                                                            <xs:enumeration value="suffixed"/>
                                                            <xs:enumeration value="checkbox"/>
                                                            <xs:enumeration value="radio"/>
                                                            <xs:enumeration value="radioset"/>
                                                            <xs:enumeration value="time"/>
                                                            <xs:enumeration value="date"/>
                                                            <xs:enumeration value="textarea"/>
                                                            <xs:enumeration value="select"/>
                                                            <xs:enumeration value="static"/>
                                                            <xs:enumeration value="shopfinder"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:element>
                                                <xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
                                                <xs:element name="options" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence>
                                                            <xs:element name="option" minOccurs="0" maxOccurs="unbounded">
                                                                <xs:complexType>
                                                                    <xs:all>
                                                                        <xs:element name="label" type="string_translatable" minOccurs="0"/>
                                                                        <xs:element name="value" type="xs:string" minOccurs="0"/>
                                                                        <xs:element name="disabled" type="xs:boolean" minOccurs="0"/>
                                                                    </xs:all>
                                                                    <xs:attribute type="xs:string" name="id"/>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="tooltip" type="string_translatable" minOccurs="0"/>
                                                <xs:element name="placeholder" type="string_translatable" minOccurs="0"/>
                                                <xs:element name="sortOrder" type="xs:integer" minOccurs="0"/>
                                                <xs:element name="validationRules" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:sequence maxOccurs="unbounded" minOccurs="0">
                                                            <xs:element name="rule">
                                                                <xs:complexType>
                                                                    <xs:sequence>
                                                                        <xs:element name="param" minOccurs="0" maxOccurs="unbounded"/>
                                                                    </xs:sequence>
                                                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:sequence>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="itemCombinationRule" minOccurs="0">
                                                    <xs:complexType>
                                                        <xs:all>
                                                            <xs:element name="sourceItemInputCode" type="codestring"/>
                                                            <xs:element name="action">
                                                                <xs:simpleType>
                                                                    <xs:restriction base="xs:string">
                                                                        <xs:pattern value="add|concat"/>
                                                                    </xs:restriction>
                                                                </xs:simpleType>
                                                            </xs:element>
                                                            <xs:element name="additionalSourceInputCodes" minOccurs="0">
                                                                <xs:complexType>
                                                                    <xs:sequence maxOccurs="unbounded">
                                                                        <xs:element name="input">
                                                                            <xs:simpleType>
                                                                                <xs:restriction base="xs:string">
                                                                                    <xs:pattern value=".*\..*"/>
                                                                                </xs:restriction>
                                                                            </xs:simpleType>
                                                                        </xs:element>
                                                                    </xs:sequence>
                                                                </xs:complexType>
                                                            </xs:element>
                                                        </xs:all>
                                                    </xs:complexType>
                                                </xs:element>
                                                <xs:element name="valueMaps" minOccurs="0" type="valueMapList"/>
                                                <xs:element name="comment" type="commentConfig" minOccurs="0"/>
                                                <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>
                                            </xs:all>
                                            <xs:attribute type="xs:string" name="code" use="required"/>
                                            <xs:attribute type="xs:string" name="defaultConfigValue"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                            <xs:unique name="uniqueOptionInputCode">
                                <xs:selector xpath="input"/>
                                <xs:field xpath="@code"/>
                            </xs:unique>
                        </xs:element>
                        <xs:element name="sortOrder" type="xs:integer" minOccurs="0"/>
                        <xs:element name="routes" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="route" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="origin" type="originCountry" minOccurs="0"/>
                                                <xs:element name="includeDestinations" type="destinationList" minOccurs="0"/>
                                                <xs:element name="excludeDestinations" type="destinationList" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="requiredItemIds" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="id" type="xs:integer" minOccurs="0" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:all>
                    <xs:attribute type="xs:string" name="code" use="required"/>
                    <xs:attribute type="xs:string" name="available"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="subjectsList">
        <xs:sequence>
            <xs:element name="subject" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="mastersList">
        <xs:sequence>
            <xs:element name="master" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="commentConfig">
        <xs:all>
            <xs:element name="content" type="string_translatable" minOccurs="0"/>
            <xs:element name="footnoteId" type="xs:string" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="string_translatable">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:boolean" name="translate" default="false"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="destinationList">
        <xs:sequence>
            <xs:element name="destination" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:union>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="eu"/>
                                <xs:enumeration value="intl"/>
                                <xs:enumeration value="domestic"/>
                            </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="[A-Z]{2}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:union>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="originCountry">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2}|eu"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="valueMapList">
        <xs:sequence>
            <xs:element name="valueMapItem" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="inputValues">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="inputValue" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute name="code" type="codestring" use="required"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="sourceValue" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="codestring">
        <xs:restriction base="xs:string">
            <xs:pattern value=".*\..*"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
